.login{
    height: 100vh;
    background-color: rgb(193,190,255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    min-height: 60%;
    overflow: hidden;
    /* box-shadow: 0px 0px 25px -10px rgba(10, 3, 3, 0.74); */
}
.card_left_login{
    flex: 0.5;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
    url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
    center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap:30px;
    color: white;
}
.card_left_login .card_left_login_h1{
    font-size: 70px;
    line-height: 70px;
}
.card_left_login .card_span_left_login{
    font-size: 14px;
}
.card_left_login .card_left_login_button{
    width: 50%;
    padding: 10px;
    background-color: white;
    border: none;
    color:rebeccapurple;
    font-weight: bold;
    cursor: pointer;
}

.card_right_login{
    flex: 0.5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.card_right_login .card_right_login_h1{
    color:#555;
    font-weight: bold;
    font-size: 25px;
}
.card_right_login .card_right_login_form{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.card_right_login_form input{
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
}

.card_right_login_form .card_right_login_form_button{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #938eef;
    color:white;
    font-weight: bold;
    cursor: pointer;
}
.card_right_login_form .card_right_login_form_button:active{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #938eef;
    color:white;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(2px);
}