.update{
    display: flex;
    flex-direction: column;
    gap:1rem;
    position: absolute;
    top:650px;
    left:0;
    bottom:0;
    left: 0;
    width: 700px;
    height: 300px;
    background-color: rgb(250, 250, 250);
    padding: 50px;
    z-index: 999;
}

.update .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.middle .middleform{
    display: grid;
    grid-template-columns: 300px 300px;
    gap:1rem;
}
.middleform .itemone,.middleform .itemtwo,.middleform .itemthree,
.middleform .itemfour,.middleform .itemfive{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1rem;
}